/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body{
	padding-top: 60px;
}
.center-search{
	float: left;
	margin-left: 20%;
}

.loginDiv {
    float: left;
    margin-left: 29%;
    line-height: 50px;
    width: 12%;
}

.signup {
margin-right: 13%;
}

.navbar-default {

	width: 100%;
	background-color: transparent;
	position: absolute;
	border: none;
	z-index: 900;

}

.hero-info {
	
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: white;
    top: 25%;
    z-index: 900;

}

#flag {
  width: 110px;
  height: 56px;
  padding-top: 15px;
  position: relative; 
  background: purple;
  color: white;
  font-size: 10px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
#flag:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid white;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}

#welcome {
  text-align: center;
}

#about {
  margin-top: 17%;
}

