<!DOCTYPE html>
<html>
<head>
	<h1>Scholar.ly</h1>
	
  <title>ScholarLyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
