<div ng-controller ="StudentsNewCtrl" class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center">Sign Up!</h1>
		<form name="studentNewForm" novalidate>
			<div class="well">
				<div class="form-group">
					<label>First Name</label>
					<input name="first_name" class="form-control"
						ng-model="student.first_name" required />
					</div>
					<div class="form-group">
          				<label>Email</label>
          				<input type="email" name="email" class="form-control"
            			ng-model="student.email" required />
        			</div>
					<div class="form-group">
						<label>"Password"</label>
						 <input name="password" class="form-control"
						ng-model="student.password" required />
					</div>
					      <button ng-click="submit()" class="btn btn-primary">
          				Create my account
        </button>
      </div>
    </form>
  </div>
</div>